body {
    font-family: sans-serif;
    background: #f7f7f7;
    text-align: center;
}

video {
    width: 320px;
    margin-top: 10px;
    align-items: center;
}

canvas {
    margin-top: 20px;
    border: 1px solid grey;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sticker:not(.sport_glasses, .black_sunglasses, .horn_band) {
    width: 60px;
    cursor: grab;
}

.stickers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sport_glasses, .black_sunglasses, .horn_band {
    width: 90px;
}

video {
    transform: scaleX(-1);
}

button {
    margin: 10px;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

#download {
    margin-bottom: 50px;
}

#countdown {
    font-size: 32px;
    color: #333;
    margin: 10px;
}